.dob-wrapper,
.tape-wrapper,
.solana-wrapper {
    min-width: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    .frequency-buttons {
        display: flex;
        flex-direction: row;
        margin: 10px 10px 5px 10px;
        align-self: center;
        flex-wrap: wrap;
        button {
            cursor: pointer;
            margin: 0px 2px;
            &.selected {
                background: #ff3b69;
                color: white;
            }
        }
    }
    .canvas-wrapper {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex: 1;
    }
}

#left-panel,
#right-panel {
    display: flex;
    flex: 1;
    min-width: 0px;
    min-height: 0px;
    padding-bottom: 10px;
}

#left-panel {
    padding-left: 10px;
    padding-right: 5px;
}

#right-panel {
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 450px;
    padding-left: 5px;
    padding-right: 10px;
}

.solana-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 0px;
    min-height: 0px;
}